.form-wrapper {
  display: flex;
}
.form {
  box-sizing: border-box;
  width: 100%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px 30px;
  background-color: #ffffff;
}
.form-input {
  position: relative;
  display: block;
  margin-bottom: 20px;
}
.form-input-descr {
  position: absolute;
  left: 7px;
  top: 9px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.3;
  color: #939393;
  transition: font-size .3s, color .3s, top .3s;
  z-index: 2;
}
.form-input.touched .form-input-descr {
  top: -14px;
  font-size: 12px;
  color: #444444;
}
.form-input-descr-phone {
  position: absolute;
  left: 7px;
  top: -14px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.3;
  color: #444444;
  transition: font-size .3s, color .3s, top .3s;
}
.form-input input {
  box-sizing: border-box;
  width: 100%;
  padding: 8px 9px 7px 9px;
  background-color: rgba(255,255,255,0.1);
  border: 1px solid #444444;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.3;
  color: #444444;
}
.form-input input.error {
  border: solid 1px #b7002b;
}
.form-input input.valid {
  border: solid 1px #009456;
}
.valid input {
  border: solid 1px #009456;
}
.form-input input:focus {
  outline: none;
}
.form-btn {
  position: relative;
  width: 100%;
  display: block;
  margin-bottom: 12px;
  background-color: #009456;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  transition: background-color .3s;
}
.form-btn:hover {
  background-color: #00c393;
  color: #ffffff;
}
.errors-block {
  margin-top: 5px;
  font-size: 12px;
  font-weight: normal;
  color: #b7002b;
  text-align: left;
}
.input-hidden {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
}
.form-input-password-wrapper {
  position: relative;
  display: block;
}
.form-input-password-wrapper input {
  padding-right: 44px;
}
.form-input-password-wrapper::before {
  content: "";
  position: absolute;
  left: 5px;
  top: 100%;
  width: 0;
  height: 2px;
  transition: width .3s, background-color .3s;
}
.form-input-password-wrapper.low::before {
  width: 33%;
  background-color: #c00;
}
.form-input-password-wrapper.medium::before {
  width: 67%;
  background-color: #fb0;
}
.form-input-password-wrapper.high::before {
  width: calc(100% - 10px);
  background-color: #009456;
}
.form-input .iti {
  width: 100%;
}
.form-descr {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.3;
  color: #444444;
}
.form-descr a {
  color: #009456;
}
.form-btn ._preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .55);
  z-index: 600;
}
.form-btn ._loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #45BEAD;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
.form-btn ._loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #FF1326;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
.form-btn ._loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #009456;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
.form-btn ._loader-text {
  position: relative;
  transform: translate(-50%, -50%);
  top: 52%;
  left: 50%;
  font-size: 28px;
  color: #ffffff;
  text-transform: none;
}
@-webkit-keyframes spin {
  0%   {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0%   {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
