<template>
  <div class="form-input" :class="{touched: touched}">
    <span class="form-input-descr">Select Country</span>
    <Multiselect
        v-model="countryVal"
        :options="options"
        :searchable="true"
        :class="countryValid ? 'valid' : ''"
        @open="countryOpen"
        @close="countryClose"
        @clear="countryClear"
        @select="countrySelect"
    />
    <div class="errors-block" v-show="countryErr">{{ countryErr }}</div>
  </div>
</template>

<script>
import Multiselect from '@vueform/multiselect';
import { countries } from "@/utils/countries";
import { mapGetters, mapActions } from "vuex";

export default {
  name: "country",

  components: {
    Multiselect,
  },

  data: () => ({
    touched: false,
    options: countries.map(country => ({ value: country.name, label: country.name_en, countryCode: country.country_code })),
  }),

  computed: {
    ...mapGetters(['countryVal', 'countryErr', 'countryValid', 'defaultCountry']),
  },

  methods: {
    ...mapActions(['countrySelect']),
    countryOpen() {
      if (!this.touched) {
        this.touched = true;
      }
    },
    countryClose() {
      this.$nextTick(() => {
        if(!this.countryVal) {
          this.touched = false;
        }
      })
    },
    countryClear() {
      this.countrySelect('');
      if (this.touched) {
        this.touched = false;
      }
    },
    clickTitle() {
      this.$refs.multiselect.open();
    }
  },

  mounted() {
    this.$nextTick(() => {
      const defaultOption = this.options.find(option => option.countryCode === this.defaultCountry);
      const defaultValue = defaultOption.value;
      this.countrySelect(defaultValue);
      this.touched = true;
    });
  },
}
</script>

<style src="@vueform/multiselect/themes/default.css"></style>
