<template>
  <label class="form-input" :class="{touched: touched}">
    <span class="form-input-descr">Your email</span>
    <input
        type="email"
        name="email"
        :class="emailValid ? 'valid' : ''"
        @input="emailInput($event.target.value)"
        :value="emailVal"
        @focus="focusHandler"
        @blur="blurHandler($event)"
    >
    <div class="errors-block" v-show="emailErr">{{ emailErr }}</div>
  </label>
</template>

<script>
import {mapActions, mapGetters} from "vuex";

export default {
  name: "email",

  data: () => ({
    touched: false,
  }),

  computed: mapGetters(['emailVal', 'emailValid', 'emailErr']),

  methods: {
    ...mapActions(['emailInput', 'emailBlur']),
    focusHandler() {
      this.touched = true;
    },
    blurHandler({target: {value}}) {
      if (value === '') {
        this.touched = false;
      } else {
        this.emailBlur(value);
      }
    },
  }
}
</script>
