<template>
  <label class="form-input" :class="{touched: touched}">
    <span class="form-input-descr">Enter Name</span>
    <input
        type="text"
        name="first_name"
        :class="fnameValid ? 'valid' : ''"
        @input="fnameInput($event.target.value)"
        :value="fnameVal"
        @focus="focusHandler"
        @blur="blurHandler($event)"
    >
    <div class="errors-block" v-show="fnameErr">{{ fnameErr }}</div>
  </label>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  name: "fname",

  data: () => ({
    touched: false,
  }),

  computed: mapGetters(['fnameVal', 'fnameValid', 'fnameErr']),

  methods: {
    ...mapActions(['fnameInput', 'fnameBlur']),
    focusHandler() {
      this.touched = true;
    },
    blurHandler({ target: { value } }) {
      if (value === '') {
        this.touched = false;
      } else {
        this.fnameBlur(value);
      }
    },
  },
}
</script>
