<template>
  <label class="form-input" :class="{touched: touched}">
    <span class="form-input-descr">Password</span>
    <span class="form-input-password-wrapper" :class="passwordComplexity">
      <input
          type="password"
          name="password"
          :class="passwordValid ? 'valid' : ''"
          :value="passwordVal"
          @input="passwordInput($event.target.value)"
          @focus="focusHandler"
          @blur="blurHandler($event)">
      <span class="form-input-password-toggle"></span>
    </span>
    <span class="errors-block" v-show="passwordErr">{{ passwordErr }}</span>
  </label>
</template>

<script>
import {mapActions, mapGetters} from "vuex";

export default {
  name: "password",

  data: () => ({
    touched: false,
  }),

  computed: {
    ...mapGetters(['passwordVal', 'passwordValid', 'passwordErr', 'passwordComplexity'])
  },

  methods: {
    ...mapActions(['passwordInput', 'passwordBlur']),
    focusHandler() {
      this.touched = true;
    },
    blurHandler({target: {value}}) {
      if (value === '') {
        this.touched = false;
      } else {
        this.passwordBlur();
      }
    },
  },
}
</script>
