<template>
  <div class="form-input touched">
    <span class="form-input-descr">Phone</span>
    <input
        type="tel"
        name="phone"
        v-model="phoneNum"
        :class="phoneValid ? 'valid' : ''"
        ref="phone"
        @input="phoneNumInput"
        @blur="onBlur"
    >
    <div class="errors-block">{{ phoneNum }}</div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import intlTelInput from 'intl-tel-input';
import 'intl-tel-input/build/js/intlTelInput';
import 'intl-tel-input/build/js/utils';
import 'intl-tel-input/build/css/intlTelInput.css';

export default {
  name: "phone",

  components: {},

  data: () => ({
    phoneNum: '',
    iti: '',
    errorMap: [
      'Invalid number',
      'Invalid country code',
      'Too short',
      'Too long',
      'Invalid number',
      'Invalid number',
    ],
  }),

  computed: mapGetters(['phoneValid']),

  methods: {
    ...mapActions(['phoneInput']),

    phoneNumInput({ target: { value } }) {
      let val = value;
      console.log(val);
      if (val && !val.match(/^[\d]+$/)) {
        val = val.replace(/\D/g, '');
      }
      console.log(val);
      val = val.slice(0, 13);
      console.log(val);
      this.phoneNum = val;
      if (this.iti.isValidNumber()) {
        this.phoneInput({ value: val, valid: true });
      } else {
        this.phoneInput({ value: val, valid: false });
      }
    },
    onBlur() {

    },
  },

  mounted() {
    const phoneInput = this.$refs.phone;
    this.iti = intlTelInput(phoneInput, {
      utilsScript: 'intl-tel-input/build/js/utils.js',
      separateDialCode: true,
      initialCountry: 'ua',
    });
  }
}
</script>

<style scoped>

</style>