<template>
  <form class="form" novalidate="" @submit.prevent="sendForm">
    <fname></fname>
    <country></country>
    <email></email>
    <password></password>
    <phone></phone>

    <input type="hidden" name="country" autocomplete="off" value="">
    <input type="hidden" name="phone">
    <input type="hidden" name="ga_cid">
    <input type="hidden" name="reg_hostname">
    <input type="hidden" name="uri_query">
    <input type="hidden" name="affiliate_code">
    <input type="hidden" name="promo_code">
    <input type="hidden" name="partner_link">
    <input type="hidden" name="mnfx_ref_id">
    <input type="hidden" name="monfex_affiliate_id">
    <input type="hidden" name="platform">
    <input type="hidden" name="processId">
    <input type="hidden" name="prelanding_name">

    <button type="submit" class="form-btn btn">
      Join now !
      <div v-show="statusSendForm === 'pending'" class="_preloader">
        <div class="_loader"></div>
        <div class="_loader-text">Please wait...</div>
      </div>
    </button>

    <div class="form-descr">
      By clicking the submit button above you directly consent to Bitcoin Time <a target="_blank" href="policyLink">Privacy Policy</a> and <a target="_blank" href="termsLink">Terms of Service</a>
    </div>
  </form>
</template>

<script>
import {mapActions, mapGetters} from "vuex";
import fname from "./components/formFields/fname";
  import country from "./components/formFields/country";
  import email from "./components/formFields/email";
  import password from "./components/formFields/password";
  import phone from "./components/formFields/phone";

  export default {
    components: {
      fname,
      country,
      email,
      password,
      phone,
    },

    computed: {
      ...mapGetters(['statusSendForm']),
    },

    methods: {
      ...mapActions(['sendForm']),
    }
  }
</script>
